* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #000;
    font-size: 0.875rem;
}
a {
    color: #000;
    font-size: 0.875rem;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
.wrapper {
    width: 100%;
    max-width: 1032px;
    padding: 0 16px;
    margin: 0 auto;
}

/* header */
.logo {
    width: 100px;
    margin-right: 50px;
    padding-left: 50px;
}

.logo a {
    display: block;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 30px;
    font-size: 14px;
}

.buttom {
    width: 200px;
    height: 80px;
    line-height: 80px;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    display: inline-block;
    text-align: center;
}

.buttom:hover {
    background-color: #333;
}

/* main */
.main {
    margin-bottom: 120px;
}

.main img {
    width: 100%;
    height: calc(100vh-80px);
    object-fit: cover;
}

.section-title {
    font-weight: normal;
    line-height: 1;
    margin-bottom: 50px;
}

.section-title::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
}

.section-title .en {
    display: block;
    font-size: 2.25rem;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
}

.section-title .ja {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 36px;
}

/* NEWS */
.news {
    margin-bottom: 120px;
    font-size: 14px;
}

.news-lists {
    display: flex;
    justify-content: space-between;
}

.news-list {
    width: calc(100%/3);
    border-right: solid 1px #000;
    padding: 10px 20px;
}

.news-list:first-child {
    padding-left: 0;
}

.news-list:last-child {
    border-right: none;
    padding-right: 0;
}

.news-day {
    margin-bottom: 16px;
}

.news-day span {
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 10px;
    text-align: center;
}

/*.about */
.about {
    display: flex;
    margin-bottom: 120px;
}

.about-img {
    width: 55%;
}

.about-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about-text {
    width: 45%;
    padding: 180px 5% 0 5%;
}

.about-text p {
    line-height: 2.2;
}

/* business */
.business {
    margin-bottom: 120px;
}

.business-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.business-cards {
    width: 46%;
}

.business-cards.margin-edit {
    margin-top: 100px;
}

.business-card img {
    margin-bottom: 30px;
}

.business-card-title {
    padding: 13px;
    margin-left: 5px;
    position: relative;
}

.business-card-title::before {
    content: "";
    width: 8px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 20px;
    left: -5px;
}

/* company */
.company {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
}

.company-card {
    position: absolute;
    top: 0;
    left: 0;

    width: 32%;
    /* height: 55%; */
    background-color: #fff;

    padding: 100px 5%;
    margin-left: 160px;
}

.company-card-img {
    position: absolute;
    top: 115px;
    right: 0;
    width: 42%;
    margin-right: 135px;
}

.company-card-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5;
}

.list dt {
    width: 20%;
    margin-top: 10px;
}

.list dt:first-of-type {
    margin-top: 0;
}

.list dd {
width: 80%;
margin-top: 10px;
}

.list dd:first-of-type {
    margin-top: 0;
}

.list .add {
    margin-left: 20%;
}

/* header */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer {
    background-color: #fff;
    padding-bottom: 20px;
}

.copyright {
    font-size: 0.625rem;
}

/* sp */
@media screen and (max-width: 767px){
    .logo {
        width: 80px;
        margin: 10px 0;
        padding: 0 1px 10px;
    }
    .section-title {
        margin-bottom: 34px;
    }
    .section-title .ja {
        margin-bottom: 24px;
    }
/* header */
    .buttom {
        display: none;
    }
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
/* main */
    .main {
        margin-bottom: 80px;
    }
    /* news */
    .news {
        margin-bottom: 80px;
    }
    .news-lists {
        flex-direction: column;
    }
    .news-list {
        width: 100%;
        border-right: none;
        padding: 10px;
        margin-bottom: 20px;
    }
    .news-list:first-child {
        margin-left: 10px;
    }
    .news-list:last-child {
        margin-bottom: 0;
    }

    /* about */
    .about {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .about-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .about-img img {
        height: 300px;
    }
    .about-text {
        width: 100%;
        padding-top: 20px;
        padding-left: 15px;
    }

    /* business */
    .business-wrap {
        flex-wrap: wrap;
        padding: initial;
    }
    .business-cards {
        width: 100%;
    }

    /* company */
    .company {
        flex-wrap: wrap;
        justify-content: center;
    }   
    .company-card {
        width: 100%;
        margin-bottom: 180px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 50px;
        padding-top: 30px;
        padding-bottom: 200px;
        position: static;
    }
    .company-card-img {
        width: 100%;
        padding: 0;
        position: static;
    }

    .company-card-img img {
        padding-left: 2%;
    }
    .list {
        flex-direction: column;
    }
    .list dt {
        width: 100%;
        margin-top: 20px;
    }
    .list dd {
        width: 100%;
        margin-top: 5px;
        padding-left: 14px;
    }
    .list dd:first-of-type {
        margin-top: 5px;
    }
    .list .add {
        margin-left: 0;
    }

    .footer-content {
        margin-top: 400px;
        margin-top: 400px;
        align-items: flex-start;
    }
}






